:root {
  --accent-color: #2196F3;
  --secondari-color: #757575;
  --footer-color: rgba(255, 255, 255, 0.6);
  --primary-font-color: #212121;
  --button-text-color: #FFFFFF;
  --primary-font: "Roboto", sans-serif;
  --secondari-font: "Raleway", sans-serif;
  --icon-color: #afb1b8;
  --transition-speed: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --modal-frame-color: #2196F3;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

button {
  cursor: pointer;
}

body {
  font-family: var(--primary-font);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  box-sizing: border-box;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.menu__link--current:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  border-radius: 2px;
  margin-bottom: -1px;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
}

.header {
  border-bottom: 1px solid #ECECEC;
}

.header__container {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
}

.logo {
  font-family: var(--secondari-font);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-right: 93px;
  color: #2196F3;
}

.logo__studio {
  font-family: var(--secondari-font);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}

.menu {
  display: flex;
  align-items: center;
}

.menu__item:not(:last-child) {
  margin-right: 50px;
}

.menu__link {
  display: block;
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color var(--transition-speed);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-font-color);
}
.menu__link:hover, .menu__link:focus {
  color: var(--accent-color);
}

.contacts {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.contacts__item {
  margin-right: 50px;
}

.contacts__link {
  padding-top: 32px;
  padding-bottom: 32px;
  align-items: center;
  display: flex;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondari-color);
  transition: color var(--transition-speed);
}
.contacts__link:hover, .contacts__link:focus {
  color: var(--accent-color);
}

.menu__link--current {
  color: var(--accent-color);
}

.contacts__icon {
  fill: currentColor;
  margin-right: 10px;
}

.hero {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero/Img.jpg);
  background-size: cover;
  background-color: rgba(47, 48, 58, 0.4);
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-position: center;
  background-repeat: no-repeat;
}

.hero__title {
  margin-bottom: 30px;
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.hero__btn {
  margin: auto;
  padding: 10px 32px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  border: transparent;
  border-radius: 4px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--button-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.benefits {
  display: flex;
}

.benefits__item:not(:last-child) {
  margin-right: 30px;
}

.benefits__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-font-color);
}

.benefits__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondari-color);
}

.icon__box {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  background: #F5F4FA;
  border-radius: 4px;
  margin-bottom: 30px;
  gap: 30px;
}

.backdrop {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  z-index: 1000;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity var(--transition-speed), visibility var(--transition-speed), transform var(--transition-speed);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: scale(0.8);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: var(--button-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}

.closing {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: transparent;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
}
.closing:hover .modal-icon-close, .closing:focus .modal-icon-close {
  fill: var(--accent-color);
  transition: var(--transition-speed);
}

.modal__closing {
  fill: #000000;
  transition: var(--transition-speed);
}
.modal__closing:focus, .modal__closing:hover {
  fill: var(--modal-frame-color);
}

.form__modal {
  display: flex;
  flex-direction: column;
}

.form__tex {
  font-family: var(--primary-font);
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: #212121;
  margin-bottom: 12px;
}

.form__data {
  margin-bottom: 10px;
}

.form__set {
  display: block;
  font-size: 12px;
  line-height: 1.16;
  margin-bottom: 4px;
  color: #757575;
  font-family: var(--primary-font);
}

.form__wrapper {
  display: block;
  position: relative;
}

.modal__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color var(--transition-speed);
}
.modal__input:focus {
  outline: none;
  border-color: var(--modal-frame-color);
}

.modal__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translate(0, -50%);
  display: block;
  transition: background-color var(--transition-speed);
}
.modal__input:focus + .modal__icon {
  fill: var(--modal-frame-color);
}

.data__tex {
  margin-bottom: 20px;
}

.form__message {
  display: block;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  transition: border-color var(--transition-speed);
}
.form__message:focus {
  outline: none;
  border-color: var(--modal-frame-color);
}

.form__desc {
  justify-content: center;
  display: flex;
  align-items: center;
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  margin-bottom: 30px;
  color: #757575;
}
.form__desc::before {
  display: block;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  content: "";
  cursor: pointer;
  margin-right: 10px;
}

.form__check:checked + .form__desc::before {
  background-color: var(--modal-frame-color);
  background-image: url(../img/ikonpfon/icon\ check.svg);
  background-size: contain;
}
.form__check:checked + .form__desc::before:focus + .form__desc::before {
  outline: 2px solid var(--modal-frame-color);
}

.button__submit {
  align-self: center;
  margin: auto;
  padding: 10px 32px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  border: transparent;
  border-radius: 4px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--button-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  width: 200px;
}

.form__treaty {
  font-family: var(--primary-font);
  font-size: 14px;
  line-height: 1.71;
  color: #2196F3;
}

.form__footer {
  display: block;
  align-items: center;
  margin-left: 93px;
}

.form__item {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--button-text-color);
  margin-bottom: 20px;
}

.form__mailto {
  display: flex;
  align-items: center;
  gap: 12px;
}

.form__frame {
  width: 358px;
  height: 50px;
  padding-left: 42px;
  transition: border-color var(--transition-speed);
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}
.form__frame:focus {
  outline: none;
}

.form__button {
  display: flex;
  padding: 10px 28px;
  align-self: center;
  margin: auto;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  border: transparent;
  border-radius: 4px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--button-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  width: 200px;
}

.form__flag {
  margin-left: 10px;
}

.section--padding {
  padding-top: 0%;
}

.section__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-font-color);
  padding-top: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.direction__item:not(:last-child) {
  margin-right: 30px;
}

.direction {
  display: flex;
}

.direction__box {
  position: relative;
}

.direction__text {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--button-text-color);
  background: rgba(47, 48, 58, 0.8);
}

.section--background {
  justify-content: center;
  width: 1600px;
  height: 708px;
  margin-left: auto;
  margin-right: auto;
  background: #F5F4FA;
}

.team {
  display: flex;
}

.team__item:not(:last-child) {
  margin-right: 30px;
}

.team__img {
  height: auto;
  max-width: 100%;
}

.team__box {
  padding-top: 30px;
  padding-bottom: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #FFFFFF;
}

.team__title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-font-color);
}

.team__text {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondari-color);
}

.socials {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.socials__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #FFFFFF;
  transition: background-color var(--transition-speed);
}
.socials__link:hover, .socials__link:focus {
  background-color: var(--accent-color);
}

.socials__icon {
  fill: var(--icon-color);
  transition: fill var(--transition-speed);
}
.socials__link:hover .socials__icon, .socials__link:focus .socials__icon {
  fill: var(--button-text-color);
}

.clients {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.clients__item {
  width: 170px;
  height: 92px;
}

.clients__link {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 100%;
  height: 100%;
  transition: border var(--transition-speed);
  fill: var(--icon-color);
}
.clients__link:hover, .clients__link:focus {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.clients__icon {
  transition: fill var(--transition-speed);
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__box {
  display: flex;
  align-items: baseline;
}

.footer__menu {
  flex-grow: 1;
}

.footer__logo {
  font-family: var(--secondari-font);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196F3;
}

.footer__logo--studio {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.address {
  font-style: normal;
  font-family: "Roboto", sans-serif;
  margin-top: 20px;
}

.footer__address:not(:last-child) {
  margin-bottom: 9px;
}

.footer__maps {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  transition: color var(--transition-speed);
}
.footer__maps:hover, .footer__maps:focus {
  color: var(--accent-color);
}

.footer__mailto {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-color);
  transition: color var(--transition-speed);
}
.footer__mailto:hover, .footer__mailto:focus {
  color: var(--accent-color);
}

.footer__phone {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-color);
  transition: color var(--transition-speed);
}
.footer__phone:hover, .footer__phone:focus {
  color: var(--accent-color);
}

.footer__social {
  margin-left: 70px;
}

.footer__item {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--button-text-color);
  margin-bottom: 20px;
}

.footer__title {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.footer__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  transition: background-color var(--transition-speed);
}
.footer__link:hover, .footer__link:focus {
  background-color: var(--accent-color);
}

.footer__icon {
  fill: var(--button-text-color);
}

.button {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.button__filter:not(:last-child) {
  margin-right: 8px;
}

.button__title {
  background-color: #F5F4FA;
  border: transparent;
  border-radius: 4px;
  margin: auto;
  padding: 6px 22px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-font-color);
  transition: background-color var(--transition-speed), color var(--transition-speed), box-shadow var(--transition-speed);
}
.button__title:hover, .button__title:focus {
  background-color: #2196F3;
  color: var(--button-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.tex__label {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-font-color);
}

.tex__box {
  padding: 20px 24px;
  border-left: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
}

.tex__item {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--secondari-color);
}

.photo {
  margin: -15px;
  display: flex;
  flex-wrap: wrap;
}

.photo__item {
  margin: 15px;
  background: #FFFFFF;
}

.photo__img {
  max-width: 100%;
  height: auto;
  display: block;
}

.photo__title {
  overflow: auto;
  padding: 63px 24px;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translate(0, 100%);
  transition: transform var(--transition-speed);
}
.photo__link:hover .photo__title, .photo__link:focus .photo__title {
  transform: translate(0, 0);
}

.photo__box {
  position: relative;
  overflow: hidden;
}

.photo__link {
  transition: box-shadow var(--transition-speed);
}
.photo__link:hover, .photo__link:focus {
  display: block;
  background: #ffffff;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}/*# sourceMappingURL=main.css.map */