.benefits {
    display: flex;

}

.benefits__item:not(:last-child) {
    margin-right: 30px;

}


.benefits__title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-font-color);
}

.benefits__text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondari-color);

}

.icon__box {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    width: 270px;
    height: 120px;
    background: #F5F4FA;
    border-radius: 4px;
    margin-bottom: 30px;
    gap: 30px;
}